<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding:2px 2px 2px 5px;
}
th {
font-size:20px;
}
</style>
   <center>   
<h1>{{{__ "Статистика подключения абитуриентов к “Абитуриент Online” 2020"}}}</h1>  

  <table>
                    <tr >
                    <th style="width:20px;" >{{{__ "Номер"}}}</th>
                    <th  style="width:150px;">{{{__ "Район"}}}</th>
                    <th   style="width:250px;">{{{__ "Школа"}}}</th>
                    <th  style="width:20px;" >{{{__ "Количество абитуриентов"}}}</th>
                    <th style="width:20px" >{{{__ "Количество подключенных"}}}</th>
                   
                   </tr>              
                </tr>
                {{#each obj}}
 
                <tr>
                    <td style="width:20px;  text-align:center;">{{incremented @index}}</td>
                    <td style="width:150px;  text-align:left;">{{district}}</a></td>
                    <td style="width:200px;  text-align:left;">  {{school_name}}</td>
                    <td style="width:12px;  text-align:center;">  {{enrollers}}</td>
                    <td style="width:20px;  text-align:center;" >{{connected}}</td>
                    
                </tr>
             {{/each}}
        </table>
    </center>  