
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="1.js"></script>
<script src="2.js"></script>

 
 <script src= "https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"> 
</script> 
<script src= "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"> 
</script> 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js">
  </script>

<script src= "https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"> 
</script> 
 <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js">
  </script>

  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">

<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="https://2020.edu.gov.kg/personalcabinet/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://2020.edu.gov.kg/personalcabinet/css/site.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> </head>

<body>


	<div id="root">
		<div>
			<div>
				<div class="d-flex" id="wrapper">
					<div class="bg-light border-right" id="sidebar-wrapper">
						<div class="sidebar-heading text-center">&nbsp;&nbsp;&nbsp;</div>
						<div class="text-primary text-center">&nbsp;&nbsp;&nbsp;</div>
						<div class="list-group list-group-flush" style="font-size: 12pt">
                            <a href="/vuzsearchsert" class="list-group-item list-group-item-action  selectedSidebarItem">{{{__ "Поиск по номеру сертификата"}}}</a>
                            <a href="/vuzpasswordchange" class="list-group-item list-group-item-action bg-light">{{{__ "Изменить пароль"}}}</a>
                            <a href="/vuzprofession" class="list-group-item list-group-item-action bg-light">{{{__ "Профессии"}}}</a>
                            <a href="/vuzenrollee_telefon" class="list-group-item list-group-item-action bg-light">{{{__ "Список подтвержденных абитуриентов"}}}</a>
                            <a href="/vuzenrollee_zoomo?bk=1" class="list-group-item list-group-item-action bg-light">{{{__ "Отчет ЦООМО (бюджет)"}}}</a>
                            <a href="/vuzenrollee_zoomo?bk=2" class="list-group-item list-group-item-action bg-light">{{{__ "Отчет ЦООМО (контракт)"}}}</a>
                        
                        </div>
					</div>
					<div id="page-content-wrapper">
						<nav class="navbar navbar-expand-md navbar-light border-bottom header">
							<a class="navbar-brand p-0" href="#vuz"><img src="img/logo2.png" height="40" alt=""></a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								
							</div>
						</nav>
						<div class="container-md">
							<div class="contet">
					 
   
<script type="text/javascript">
     window.export.onclick = function() {
 
   if (!window.Blob) {
      alert('Your legacy browser does not support this action.');
      return;
   }

   var html, link, blob, url, css;

   
   html = window.docx.innerHTML;
   blob = new Blob(['\ufeff', css + html], {
     type: 'application/msword'
   });
   url = URL.createObjectURL(blob);
   link = document.createElement('A');
   link.href = url;
   // Set default file name. 
   // Word will append file extension - do not add an extension here.
   link.download = 'Enrolle2020';   
   document.body.appendChild(link);
   if (navigator.msSaveOrOpenBlob ) navigator.msSaveOrOpenBlob( blob, 'Enrolle2020.doc'); // IE10-11
        else link.click();  // other browsers
   document.body.removeChild(link);
 };
</script>

                               <center> 

<h2>{{{__ "Список подтвержденных абитуриентов"}}}<br>{{obj.0.univ}}</h2> </center>
<div >

</div><br> 
 <div id="docx">
  <div class="WordSection1">
      <div id="control" class="do-not-print">
<button onclick="window.print()" class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="example"><span>Print</span></button>
<button id="export" class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="example"><span>Word</span></button>
<button  onclick="tableToExcel('example', 'W3C Example Table')" class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="example"><span>Excel</span></button>
</div>
<center> 
   <table border="1" id="example" style="max-width:100%; border-collapse: collapse;">
 

<thead>
  {{#each obj}}
  <tr> 
                    <th colspan="10" style=" text-align:left; color: brown"> {{@key}}</th>
  </tr>
 {{#each this}}
  <tr> 
                    <th colspan="10" style="  text-align:left;color: #234182"> {{@key}}</th>
  </tr>

</thead> 
      <tbody>
                   <tr style="font-weight: bold; text-align: center">
                    <td  >{{{__ "№"}}}</td>
                    <td  >{{{__ "Форма обуч."}}}</td>
                    <td  >{{{__ "Тур"}}}</td>
                    <td  >{{{__ "Ф.И.О."}}}</td>
                    <td  >{{{__ "Дата рож."}}}</td>
                    <td  >{{{__ "Телефон"}}}</td>
                    <td  >{{{__ "Сертификат"}}}</td>
                    <td  >{{{__ "Категория"}}}</td>
                    <td  >{{{__ "Балл"}}}</td>
                    <td  >{{{__ "Доп. балл"}}}</td>
                  </tr>  
                
    {{#each this}}           
                <tr>
                    <td style="  text-align:center;">{{incremented @index}}</td>
                    <td style="  text-align:left;">{{bk}}</td>
                    <td style="  text-align:center;">{{tur}} </td>
                    <td style="  text-align:left;">{{fio_enr}} </td>
                    <td style="  text-align:center;">{{birthdates}} </td>
                    <td style="  text-align:center;">{{telefon}} </td>
                    <td style="  text-align:center;">{{numbersertif}} </td>
                    <td style="  text-align:center;">{{np}} </td>
                    <td style="  text-align:center;">{{ball}} </td>
                    <td style="  text-align:center;">{{dopball}} </td>
                 </tr>
    {{/each}}      
    {{/each}}
    {{/each}} 
          </tbody>
       </table>
  </center> 
                             </div>
                             </div> 

							
					</div>
				</div>
				
			</div>
		</div>
	</div>
<br><br><br><br><br>
        </div>
    </div>
	
</body>
        <script type="text/javascript">
     window.export.onclick = function() {
 
   if (!window.Blob) {
      alert('Your legacy browser does not support this action.');
      return;
   }

   var html, link, blob, url, css;
   
   // EU A4 use: size: 841.95pt 595.35pt;
   // US Letter use: size:11.0in 8.5in;
   
   css = (
     '<style>' +
     '@page WordSection1{size: 841.95pt 595.35pt;mso-page-orientation: landscape;}' +
     'div.WordSection1 {page: WordSection1;}' +
     'table{border-collapse:collapse;}td,th{border:1px gray solid;width:5em;padding:2px;}'+
     '</style>'
   );
   
   html = window.docx.innerHTML;
   blob = new Blob(['\ufeff', css + html], {
     type: 'application/msword'
   });
   url = URL.createObjectURL(blob);
   link = document.createElement('A');
   link.href = url;
   // Set default file name. 
   // Word will append file extension - do not add an extension here.
   link.download = 'Enrolle2020';   
   document.body.appendChild(link);
   if (navigator.msSaveOrOpenBlob ) navigator.msSaveOrOpenBlob( blob, 'Enrolle2020.doc'); // IE10-11
        else link.click();  // other browsers
   document.body.removeChild(link);
 };
</script>
  <script src="/js_export/jquery-3.5.1.js"></script>

  <script src="/js_export/jquery.dataTables.min.js"></script>
  <script src="/js_export/dataTables.buttons.min.js"></script>
  <script src="/js_export/buttons.html5.min.js"></script>
  <script src="/js_export/jszip.min.js"></script>
  <script src="/js_export/pdfmake.min.js"></script>
  <script src="/js_export/vfs_fonts.js"></script>

<script>
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );

</script>
<script type="text/javascript">
    var tableToExcel = (function() {
          var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
            , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
          return function(table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
            window.location.href = uri + base64(format(template, ctx))
          }
        })()
</script> 