<link rel=" stylesheet" href="/stylesheets/protocol.css" /> 
  <div id="control" class="do-not-print">
<button title="О зачислении абитуриентов, прошедших {{obja.0.tout}} тура.doc" onclick="export2Word(window.inner, 'О зачислении абитуриентов, прошедших '+{{obja.0.tout}}+' тура')">Экспорт Word</button> 
<button title="Печать" onclick="window.print()">Печать</button>

</div> 
<script type="text/javascript" src="/javascripts/export2word.js"></script>

<div id="inner">

{{#each obja}}
{{#ifCond @index '==' 0}}
<div style="text-align:right;line-height:30px;">
<h3  class="b">  
«УТВЕРЖДАЮ»

<br>
<input style="text-align:right;" type="text" size="60" value="{{supervisor_position}} {{university_name}}">
<br>
<input style="text-align:right;" type="text" size="45" value="{{university_supervisor}}">
<br>
___________________________
<br>
<input style="text-align:right;" type="text" size="45" value="«_____» _______2020 г.">
</h3>  
</div>
<center>
<h3  class="b">  

<br><br>
<span style="font=weight:bolder;">
Сводная ведомость № <input type="text" size="4" value="_____">
<br>
абитуриентов, прошедших конкурсный отбор на контрактную форму обучения
 по ОРТ на {{tout}}-тур.
</span>
<br>
</h3>
</center>
 <p>
по направлении / специальности <span style="font-weight: bolder;text-decoration:underline;  font-style: italic;">{{direction_cipher}} {{direction}} ({{learning}})</span> 
</p>


 
<table class="tb1">
     <tr>
        <th class="td1" width =5%>№</th>    
        <th class="td1" >ФИО абитуриента</>
        <th class="td1" ><center>Номер сертификата</center></>
        <th class="td1" ><center>Сумма баллов по основному тесту</center></>
        <th class="td1" ><center>Сумма балов по предметному тесту</center></>
        <th class="td1" ><center>Сумма баллов по основному и предметному тесту</center></>
 
        <th class="td1" ><center>Категория местности</center></>

    </tr>
  {{/ifCond}} 
 
    {{#ifCond this.NumberSert '!=' null}}
 


    <tr>
        <td class="td1" width =5%><center>{{incremented @index}}</center></td>
        <td class="td1" >{{fio_abit}}</td>
        <td class="td1" ><center>{{NumberSert}}</center></td>
        <td class="td1" ><center>{{BallOnRepsTest}}</center></td>
        <td class="td1" ><center>{{summ_dop}}</center></td>
        <td class="td1" ><center>{{summ}}</center></td>
        
        <td class="td1" ><center>
      {{#ifCond this.id_PlaseSertORT '==' 1}}
г. Бишкек
{{/ifCond}}
{{#ifCond this.id_PlaseSertORT '==' 2}}
областной центр, малый город
{{/ifCond}}
{{#ifCond this.id_PlaseSertORT '==' 3}}
село
{{/ifCond}}
{{#ifCond this.id_PlaseSertORT '==' 4}}
высокогорье
{{/ifCond}}
{{#ifCond this.id_PlaseSertORT '==' 5}}
золотой сертификат
{{/ifCond}}

        </center></td>


    </tr>
 {{/ifCond}}

{{/each}}

</table>

<br>
<br>
<table>
        <tbody>
    {{#each objb}}
        <tr>
        <td width =40%  height=25px; style="vertical-align:top;" rowspan={{maxindex this}}>
        {{@key}}  
        </td>
        </tr>
        {{#each this}}
        <tr>
 
            <td  height=25px; width =20%><center><input type="text" size="15" value="_________________"></center></td>
            <td  height=25px;>  <input type="text" size="15" style="text-align:left;" value="{{grant_commission}}"></td>
        </tr>
        
        {{/each}}
    {{/each}}
  </tbody>
</table>
<br>
 </div>
 </div>
